table { page-break-inside:auto; page-break-after:always; }
tr    { page-break-inside:avoid; page-break-after:auto }
tbody { display:table-row-group;}
thead { display:table-header-group }
tfoot { display:table-footer-group }
tr { display: table-row;}
td { page-break-inside:avoid; orphans: 5; widows: 5;}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix-c44wvm') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-c44wvm') format('woff'),
        url('../fonts/icomoon.ttf?-c44wvm') format('truetype'),
        url('../fonts/icomoon.svg?-c44wvm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.genos-graph {
  display: none;
}

.icon-print:before {
    content: "\f02f";
}

.bold {
  font-weight: bold;
}

header {
    display: none;
}

.modal-dialog {
    display: none;
}

.overlay {
    display: none;
}

.no-match {
    display: none;
}

.tooltip {
  display: none !important;
}

.preloader-overlay {
    display: none;
}

.loader-btn-container {
    display: none;
}

.repute.good {
  border: 1px solid rgb(5, 148, 5);
  border-radius: 2px;
  color: #333;
  padding: 5px 8px;
}

.repute.bad {
  border: 1px solid rgb(207, 4, 4);
  border-radius: 2px;
  color: #333;
  padding: 5px 8px;
}

.repute.bad, .repute.good  {
    font-size: 13px;
    padding: 5px;
}

.d-ex-link {
  background: url('data:image/gif;base64,R0lGODlhCAAHAIABAJO42f///yH5BAEAAAEALAAAAAAIAAcAAAINjAMJd5q2HoSLzUadKQA7') no-repeat right 5px;
  color: #538DC2;
  float: left;
  font-size: 0.9em;
  text-decoration: none;
  padding-right: 12px;
}

.d-short-ex-link {
  color: #538DC2;
  font-size: 0.9em;
  margin: 6px 0 0 0;
  text-decoration: none;
}

.d-short-ex-link:hover, .d-ex-link:hover { 
    text-decoration: underline;
}

.d-freq-color {
  border-radius: 2px;
  border: 1px solid rgb(241, 52, 52);
  color: #333;
  font-size: 13px;
  padding: 5px;
}

.d-summary {
  color: #333;
}

.d-freq-color {
  -webkit-print-color-adjust: exact;
}

@page {
  margin: 0px;
}

.genos-item {
  float: left;
  font-family: helvetica;
  background-color: #fff;
  border: 1px solid #CCC8C8;
  margin: 15px 0;
  position: relative;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.genos-item-header {
  float: left;
  padding: 15px 0px 10px 0px;
  position: relative;
  width: 100%;
}

.genos-summ {
  display: block;
  float: left;
  font-family: 'quattrocento_sansregular', Helvetica, Arial;
  font-size: 18px;
  line-height: 2em;
  max-width: 700px;
  padding: 0 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 850px) {
  .genos-summ {
    font-size: 16px;
    width: 95%;
  }
}

.genos-summ::first-letter {
  text-transform: capitalize;
}

.genos-title {
  float: left;
  padding: 5px 10px 5px 15px;
  width: 100%;
}

.genos-body {
  float: left;
  width: 100%;
}

.genos-body > p {
  margin: 0px;
  line-height: 2em;
}

.genos-title > a {
  color: #538dc2;
  font-size: 14px;
  text-decoration: none;
}

@media screen and (max-width: 850px) {
  .genos-title > a {
    font-size: 13px;
  }
}

.genos-title > a:hover {
  text-decoration: underline;
}

.ex-link {
  background: url('data:image/gif;base64,R0lGODlhCAAHAIABAJO42f///yH5BAEAAAEALAAAAAAIAAcAAAINjAMJd5q2HoSLzUadKQA7') no-repeat right 5px;
  letter-spacing: -0.9px;
  padding-right: 12px;
}

.ex-link.short {
  margin-left: 10px;
}

.show-details {
  display: none;
}

@media screen and (max-width: 850px) {

  .show-details {
    display: inline-block;
    border: 1px solid #777;
    border-radius: 2px;
    color: #777;
    cursor: pointer;
    font-size: 11px;
    margin-left: 15px;
    padding: 3px 10px;
  }

  .show-details.bad {
    border: 1px solid rgb(207, 4, 4);
  }

  .show-details.good {
    border: 1px solid rgb(5, 148, 5);
  }

  .show-details:hover, .show-details.active {
    background-color: #eee;
    color: #333;
  }

}

.genos-details {
  border-top: 1px solid #ddd;
  float: left;
  position: relative;
  width: 100%;
}

.genos-details:after {
  border-left: 1px solid #ddd;
  content: '';
  height: 100%;
  left: 29.5%;
  position: absolute;
  top: 0px;
}

@media screen and (max-width: 850px) {
  .genos-details:after {
    display: none;
  }
}

.genos-info {
  color: #777;
  float: left;
  font-size: 15px;
  width: 100%;
  max-width: 200px;
  margin-left: 5px;
  word-break: break-all;
}

@media screen and (max-width: 850px) {
  .genos-info {
    background-color: #fff;
    border: 1px solid #ddd;
    display: none;
    opacity: 0;
    position: absolute;
    font-size: 13px;
    visibility: hidden;
    top: -8px;
    z-index: 2;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
  }
  .genos-info:before {
    background: #FFF;
    border: 1px solid #DDD;
    clip: rect(0px 8px 8px -4px);
    content: '';
    height: 10px;
    left: 10%;
    margin-top: -13px;
    position: absolute;
    width: 10px;
    z-index: 1000001;
    -webkit-transform: rotate(45deg) translate(6px,6px);
    -moz-transform: rotate(45deg) translate(6px,6px);
    -o-transform: rotate(45deg) translate(6px,6px);
    -ms-transform: rotate(45deg) translate(6px,6px);
    transform: rotate(45deg) translate(6px,6px);
  }
  .genos-info.active {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}


.genos-info-b { 
  display: block;
}

.genos-info-r {
  display: block;
  padding: 5px 0;
}

.genos-info-c {
  border: none;
  color: #666;
  display: block;
  position: relative;
  padding: 9px 0px;
  padding-left: 65%;
  text-align: left;
  white-space: normal;
}

.genos-info-c:before {
  content: attr(data-title);
  color: #666;
  top: 9px;
  left: 10px;
  width: 45%;
  padding-right: 10px;
  position: absolute;
  white-space: nowrap;
  text-align: left;
} 

.repute.good {
  border: 1px solid rgb(5, 148, 5);
  border-radius: 2px;
  color: #333;
  padding: 5px 8px;
}

.repute.bad {
  border: 1px solid rgb(207, 4, 4);
  border-radius: 2px;
  color: #333;
  padding: 5px 8px;
}

.genos-item-overlay .genos-info > tbody > tr > td {
  font-size: 13px;
  padding: 7px 0px 9px 65%;
}

.genos-item-overlay .genos-info > tbody > tr > td:before  {
  top: 6px;
}

.genos-ref {
  float: right;
  font-size: 15px;
  line-height: 1.9em;
  max-width: 500px;
  padding: 10px 15px;
  word-wrap: break-word;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media print and (orientation:landscape) {
  .genos-ref {
    float: left;
    margin-left: 15%;
    max-width: 600px;
  }
}

@media screen and (max-width: 850px) {
  .genos-ref {
    font-size: 13px;
    max-width: none;
  }
}

.genos-img {
  float: right;
}

.genos-image {
  border-radius: 3px;
  float: right;
  margin: 0 10px;
  width: 100px;
  height: 100%;
}

@media screen and (max-width: 850px) {
  .genos-image {
    width: 100px;
  } 
}

@media screen and (max-width: 550px) {
  .genos-image {
    width: 50px;
  } 
}

.show-more {
  float: left;
  color: #538dc2;
  cursor: pointer;
}

.show-more.hide {
  display: none;
}

.show-more:hover {
  color: #333;
}

.genos-text {
  display: none;
  float: left;
  width: 100%;
}

.genos-text.active {
  display: block;
}

.genos-loading {
  color: #777;
  font-size: 15px;
  left: 47%;
  position: absolute;
  top: 50%;
}

.genos-tags, .genos-clinvar-tags, .genos-edit {
  border-top: 1px solid #ddd;
  background-color: #fff;
  float: left;
  position: relative;
  width: 100%;
  z-index: 1;
}

.branch {
  float: left;
  font-size: 15px;
  margin: 8px 0px 8px 15px;
}

.genos-tag {
  background-color: #dfeaf4;
  border: 1px solid #BFD8EE;
  border-radius: 2px;
  color: #19558d;
  float: left;
  font-size: 13px;
  margin: 7px 0 0 10px;
  padding: 2px 5px;
}

@media screen and (max-width: 850px) {
  .genos-tag {
    font-size: 11px;
  }
}

.genos-tag:hover {
  background-color: #3D8BD3;
  border: 1px solid #2B70AC;
  color: #fff;
  cursor: pointer;
}

.genos-chart {
  display: none;
}

.pagination-container {
  display: none;
}

.genos-edit-container {
  display: none !important;
}

.clinvar-dtag {
  background-color: #E4E4E4;
  border: 1px solid #AFADAD;
  border-radius: 2px;
  color: #302E2E;
  float: left;
  font-size: 13px;
  margin: 5px 0 5px 10px;
  padding: 2px 5px;
}

@media screen and (max-width: 850px) {
  .clinvar-dtag {
    font-size: 11px;
  }
}

.clinvar-dtag:hover {
  background-color: #777676;
  border: 1px solid #3A3939;
  color: #fff;
  cursor: pointer;
}

.dna {
  font-size: 10px;
  float: left;
  font-size: 12px;
  margin: 8px 12px 8px 12px;
}

.clinvar-itag {
  border-radius: 2px;
  float: left;
  font-size: 13px;
  margin: 5px 0 5px 0;
  padding: 2px 5px;
}

@media screen and (max-width: 850px) {
  .clinvar-itag {
    font-size: 11px;
  }
}

.clinvar-itag > .icon-info {
  padding: 2px 3px 0 0;
  position: relative;
  top: 1px;
}

.patho {
  background-color: #E7A1AC;
  border: 1px solid #E07389;
  color: #8D1939;
}

.p-patho {
  background-color: #E7A1AC;
  border: 1px solid #E07389;
  color: #8D1939;
}

.untested, .def {
  background-color: #F5F5F5;
  border: 1px solid #D8D8D8;
  color: #777;
}

.histocmp {
  background-color: #F7D59A;
  border: 1px solid #E9B925;
  color: #966A0B;
}

.n-patho, .pn-patho {
  background-color: #BFF1D7;
  border: 1px solid #6FE7BB;
  color: #28885A;
}

.pn-pathp {
  background-color: #A2ECC5;
}

.oth {
  background-color: #F5F7FC;
  border: 1px solid #B9CFE4;
  color: #6389B3;
}

.drug-r {
  background-color: #F5F5F5;
  border: 1px solid #D8D8D8;
  color: #777;
}

.scroll-up-info, .print-info {
  display: none;
}

.table-loader-container {
  display: none;
}

.no-print {
  display: none;
  font-family: helvetica;
  font-size: 30px;
  margin: 100px;
  text-align: center;
}

.no-print > p {
  margin: 5px;
}

@media print and (orientation:landscape) {
  table { page-break-inside:auto; page-break-after:always; }
  tr    { page-break-inside:avoid; page-break-after:auto }
  tbody { display:table-row-group;}
  thead { display:table-header-group }
  tfoot { display:table-footer-group }
  tr { display: table-row;}
  td { page-break-inside:avoid; orphans: 5; widows: 5;}

  header {
      display: none;
  }

  .modal-dialog {
      display: none;
  }

  .overlay {
      display: none;
  }

  .no-match {
      display: none;
  }

  .preloader-overlay {
      display: none;
  }

  .loader-btn-container {
      display: none;
  }

  .genos-table {
    background-color: #fff;
    border: 1px solid #B1B1B1;
    color: #333;
    font-family: helvetica;
    width: 100%;
    z-index: 2;
  }

  .genos-table-h {
    display: table-header-group;
    background-color: #ddd;
    color: #333;
    -webkit-print-color-adjust: exact;
  }

  .genos-table-hr {
    border-bottom: 1px solid #B1B1B1;
    font-size: 15px;
    padding: 10px 0 10px 7px;
    text-align: left;
  }

  .genos-table-hr:first-child {
    padding-left: 20px;
  }

  .genos-table > tbody > span {
      display: none;
  }

  .genos-table-r {
    border-bottom: 1px solid #ddd;
  }

  .genos-table-r:last-child {
    border-bottom: 0px; 
  }

  .genos-table-r:hover {
    background-color: #eee;
    color: #333;
  }

  .genos-table-d {
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    text-align: left;
  }

  .genos-table-d .summary {
      color: #333;
  }

  .repute.good {
    border: 1px solid rgb(5, 148, 5);
    border-radius: 2px;
    color: #333;
    padding: 5px 8px;
  }

  .repute.bad {
    border: 1px solid rgb(207, 4, 4);
    border-radius: 2px;
    color: #333;
    padding: 5px 8px;
  }

  .repute.bad, .repute.good  {
      font-size: 13px;
      padding: 5px;
  }

  .d-ex-link {
    background: url('data:image/gif;base64,R0lGODlhCAAHAIABAJO42f///yH5BAEAAAEALAAAAAAIAAcAAAINjAMJd5q2HoSLzUadKQA7') no-repeat right 5px;
    color: #538DC2;
    float: left;
    font-size: 0.9em;
    text-decoration: none;
    padding-right: 12px;
  }

  .d-short-ex-link {
    color: #538DC2;
    font-size: 0.9em;
    margin: 6px 0 0 0;
    text-decoration: none;
  }

  .d-short-ex-link:hover, .d-ex-link:hover { 
      text-decoration: underline;
  }

  .d-freq-color {
    border-radius: 2px;
    border: 1px solid rgb(241, 52, 52);
    color: #333;
    font-size: 13px;
    padding: 5px;
  }

  .d-summary {
    color: #333;
  }

  .d-freq-color {
    -webkit-print-color-adjust: exact;
  }

  @page {
    margin: 0px;
  }
}
